.donate-container {
  max-width: 500px;
  margin: 0px auto;
  margin-bottom: 10px;
}
.donate-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}
.donate-intro {
  font-size: 11px;
  text-align: center;
  margin-top: -10px;
}
.donate-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    margin: 0px 5px;
  }
}

.donation-progress {
  margin: 0px auto;
  width: 200px;
  height: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #EAEAEA;
  overflow: hidden;

  &.breakdown {
    .donation-bar.donation-total {
      height: 0px;
    }
  }

  .donation-bar {
    width: 100%;
    height: 10px;
    display: flex;

    &.donation-total {
      height: 10px;
      transition: height 0.5s;
    }

    .donation-patreon {
      background: #f96854;
      height: 100%;
    }
    .donation-paypal {
      background: #169bd7;
      height: 100%;
    }
    .donation-all {
      background: #1abc9c;
      height: 100%;
    }
  }
}

.breakdown {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 200px;
  .breakdown-toggle {
    cursor: pointer;
  }
  .details {
    border-top: #ccc solid 1px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    &.active {
      max-height: 70px;
    }

    .key {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      &.patreon {
        background: #f96854;
      }
      &.paypal {
        background: #169bd7;
      }
    }
  }
}